.displaytable{
    position: relative;
    left:5%;
    width:90%;
    height:max-content;
    margin-top: 1em;
    border-radius: 2em;
    border:.5em;
    border-color: aquamarine;
    border-style: inset;
    box-shadow: 1rem -.5rem .5rem rgba(3, 3, 3, 0.301);
}
th{
    text-align: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
tr{
    width:100%;
    background-color: aqua;
}
td{
    /* padding: 1%; */
    column-span:all;
    column-gap: 0px;
    text-align: left;
    /* border-radius: 2em; */
}


tr:hover .remove_background {
    background-color: #04AA6D;
}
tr:hover {
    background-color: #04AA6D;
}

.remove_background{
    background-color: white;
    border-radius: .1em;
    border:.1em;
    border-style: solid;
    border-color: aqua;
}

.btn_background{
    width:100%;
    background-color: white;
    border-radius: .1em;
    border:.1em;
    border-style: solid;
    border-color: white;
}
